@media print{

	body{
	  -webkit-print-color-adjust:exact;
	  font-size: 9pt
	}

	.noprint{
		display: none;
	}

	.printmsg{
		width:100%;
		margin:0;
	}

	.container{
		width:100%;
		margin: 0;
	}

}