body{
	font-family: 'Open Sans', sans-serif;
}

.name{
	font-family: 'Libre Baskerville', serif;
}

.contact{
	font-family: 'Libre Baskerville', serif;
}

footer{
	font-family: 'Libre Baskerville', serif;
}
.subheading{
	font-family: 'Libre Baskerville', serif;
}

footer a{
	text-decoration: none;
}

.container{
	width:90%;
	margin: 0 5%;
	background-color: white;
}

.name{
	text-align: center;
}

.logo{
	width: 90px;
}

.contact{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.list-details{
	padding-left:20px;
}

.contact a{
	text-decoration: none;
	color: black;
	font-style: italic;
}

.contact a:hover{
	text-decoration: underline;
}

.subheading{
	clear: both;
}

footer{
	text-align: center;
	margin: 50px 15%;
	width: 70%;
}

.badge{
	display:block;
	color: gray;
	font-size:15px;
	padding: 0px;
	border-radius: 4px;
}

.bio{
	text-align: justify;
}

.job-website{
	margin: -10px 0 0 0;
}

.group:hover h3{
	text-decoration: underline;

}

.objective{
	text-align: center;
}

.skill{
	background-color: #343434;
	padding:10px;
	color:white;
	float:left;
	margin:10px 5px;
	text-align: center;
	border-radius: 4px;
}

.skills{
	padding: 0;
	margin:0;
	list-style: none;
	clear: both;
	height: 250px;
	width:100%;
}

.skills li{
	float: left;
}


@media (min-width: 600px) {

	.container{
		width:70%;
		margin: 0 15%;
		background-color: white;
	}

	.contact li{
		display: inline;
	}

	.badge{
		display: inline !important;
		background-color: red;
		color: white !important;
		font-size:15px;
		padding: 5px !important;
		border-radius: 4px;
		float: right;
	}
	.skills{
		height: 100px;
	}
}