<label class="menu" for="_1">
	<span class="genericon genericon-menu"></span>
</label>
<input id="_1" type="checkbox">
<div class="container">
      <ul class="menu">
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
      </ul>

      <section class="name">
        <a href="/">Ben<b>Whitehead</b></a>
      </section>
    </div>
<div class="social-links">
	<a href="https://github.com/bwhthd" target="_blank" title="Github"><span class="genericon genericon-github"></span></a>
	<a href="https://facebook.com/bwhthd" target="_blank" title="Facebook"><span class="genericon genericon-facebook"></span></a>
	<a href="https://twitter.com/benw5858" target="_blank" title="Twitter"><span class="genericon genericon-twitter"></span></a>
	<a href="{{ site.url }}/atom.xml" target="_blank" title="Subscribe to RSS"><span class="genericon genericon-feed"></span></a>
</div>