<label class="menu" for="_1">
	<span class="genericon genericon-menu"></span>
</label>
<input id="_1" type="checkbox">
<div class="menu-content">
	<div class="menu" style="background-color: #777;"></div>
	<a href="{{ site.url }}">Home</a><br>
	<a href="/work">Work</a><br>
	<a href="/about">About</a><br>
  <a href="/projects">Projects</a><br>
  <a href="/fun">Fun</a><br>
</div>
<div class="social-links">
	<a href="{{site.resume}}" target="_blank" title="Ben's Resume"><span class="genericon genericon-document"></span></a>
	<a href="https://github.com/bwhthd" target="_blank" title="Github"><span class="genericon genericon-github"></span></a>
	<a href="https://facebook.com/bwhthd" target="_blank" title="Facebook"><span class="genericon genericon-facebook"></span></a>
	<a href="https://instagram.com/bdwhthd" target="_blank" title="Instagram"><span class="genericon genericon-instagram"></span></a>
	<a href="https://twitter.com/bwhthd" target="_blank" title="Twitter"><span class="genericon genericon-twitter"></span></a>
	<a href="{{ site.url }}/atom.xml" target="_blank" title="Subscribe to RSS"><span class="genericon genericon-feed"></span></a>
</div>
